.userPage { 
    padding: 5px 20px 20px 20px;
    background-color: #eee; 
    height: 100%;
}

.userPage h3 {
    margin-bottom: 30px;
    color: #333;
}

.userLabel {
    grid-template-columns: 1fr 4fr;
    margin-bottom: 20px;
    padding: 0 80px;
    display: grid;
}

.user {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}

.user img { justify-self: center; }

.user button { 
    height: 30px; 
    align-self: end; 
    transition: all .3s;
}

.followedBtn,
.unfollowedBtn { cursor: pointer; }

.followedBtn { border: solid 1px brown; }

.followedBtn:hover { 
    color: #fff;
    background-color: brown; 
}

.unfollowedBtn { border: solid 1px aqua; }

.unfollowedBtn:hover { background-color: aqua; }

.userLabel img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.userInfo {
    display: flex;
    justify-content: space-between;

    border: solid .1rem #333;
    border-radius: 3px;
    padding: 10px;
}

.userInfo > * { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.userTextBold { 
    color: #555555;
    font-weight: bold; 
}

.selectedPage {
    font-weight: bold;
}