.dialogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.dialogItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

